
@{
    ViewBag.Title = "UpdatePassword";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-flat">
            <div class="panel-heading pb-20 text-center">
                <div class="border-black text-black icon-object"><i class="icon-user-lock icon-3x"></i></div>
                <h2 class="panel-title text-center text-bold">Change Password</h2>
            </div>

            <div class="text-center">
                <span style="color:@ViewBag.color">@ViewBag.message</span>
            </div>
            <div class="panel-body">

                <form class="form-horizontal form-validate-jquery" action="@Url.Action("PostUpdatePassword","Auth")" method="post" enctype="multipart/form-data">
                    <fieldset class="content-group">
                        <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>
                        <input type="hidden" id="Id" name="Email" value="" />
                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Old Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password" id="" name="OldPassword" class="form-control" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">New Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-icon" type="button"><i class="icon-lock"></i></span>
                                    </span>
                                    <input type="password" class="form-control" placeholder="New Password" required name="newPassword" id="password" onkeyup="CheckStrength(this.value)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" onclick="ShowPasswords(1)" type="button" style="display:block" id="SignupShowPassword">Show</button>
                                        <button class="btn btn-default" onclick="ShowPasswords(1)" type="button" style="display:none" id="SignupHidePassword">Hide</button>
                                    </span>
                                </div>
                                <div id="passwordStrength">
                                    <span class="text-danger" id="poor"></span>
                                    <span class="text-warning" id="weak"></span>
                                    <span class="text-success" id="strong"></span>
                                </div>
                                <div class="" id="passwordInfo"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-icon" type="button"><i class="icon-lock"></i></span>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Confirm New Password" required name="confirmNewPassword" id="ConfirmPassword" onkeyup="matchPassword(this.value)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" onclick="ShowPasswords(2)" type="button" style="display:block" id="LoginShowPassword">Show</button>
                                        <button class="btn btn-default" onclick="ShowPasswords(2)" type="button" style="display:none" id="LoginHidePassword">Hide</button>
                                    </span>
                                </div>
                                <span id='pwErrMsg' class="text-danger"></span>
                            </div>
                        </div>


                    </fieldset>
                    <div class="text-right">
                        <button type="submit" id="userFormButton" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

